body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    text-align: center;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    margin: 0;
}

h1, h3{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-top: 0;
}

h2{
    font-weight: 400;
    font-size: 31px;
    margin-bottom: 0;
}

.icon{
    position:absolute;
    bottom: 20px;
    right: 20px;
}

.team{
    border-top: solid hsl(0, 78%, 62%);
    width: 350px;
    height: 250px;
    padding: 30px;
    text-align: left;
    margin: 20px auto 40px auto;
    background-color: white;
    box-shadow: 0px 10px 20px 2px hsl(229, 6%, 66%);
    border-radius: 5px;
    position: relative;
}

.supervisor{
    border-top: solid hsl(180, 62%, 55%);
    width: 350px;
    height: 250px;
    padding: 30px;
    text-align: left;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 10px 20px 2px hsl(229, 6%, 66%);
    border-radius: 5px;
    position: relative;
}

.karma{
    border-top: solid hsl(34, 97%, 64%);
    width: 350px;
    height: 250px;
    padding: 30px;
    text-align: left;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 10px 20px 2px hsl(229, 6%, 66%);
    border-radius: 5px;
    position: relative;
}

.calculator{
    border-top: solid hsl(212, 86%, 64%);
    width: 350px;
    height: 250px;
    padding: 30px;
    text-align: left;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 10px 20px 2px hsl(229, 6%, 66%);
    border-radius: 5px;
    position: relative;
}